body {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  height: 3rem;
  background-color: rebeccapurple;
  align-items: center;
}

.navbar-title {
  margin: 0;
  margin-left: 2rem;
  margin-right: auto;
}

.navbar-menu {
  background: transparent;
  border: none;
  margin-right: 2rem;
  cursor: pointer;
}

.navbar-menu-dropdown {
  position: relative;
  display: inline-block
}

.navbar-menu-dropdown-content {
  
}