body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style-type: none;
  font-size: 1.25rem;
  margin: 1rem 0;
  color: #ddd;
  cursor: pointer;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
}

.navbar {
  display: flex;
  height: 3rem;
  background-color: #222;
  align-items: center;
}

.navbar-title {
  margin: 0;
  margin-left: 2rem;
  margin-right: auto;
  color: #ddd;
}

.navbar-menu {
  background: transparent;
  border: none;
  margin-right: 2rem;
  cursor: pointer;
}

.navbar-menu-dropdown {
  position: relative;
  display: inline-block;
}

.navbar-menu-dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #333;
  min-width: 10rem;
  width: 20rem;
  padding: 1rem;
  z-index: 10;
}

.navbar-menu-dropdown:hover .navbar-menu-dropdown-content {
  display: block;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  width: 100%;
}

.fav-star {
  position: absolute;
  left: 95%;
  top: 2rem;
  cursor: pointer;
}

.big-image {
  position: relative;
  margin-top: 5rem;
}

.main-space-fact {
  width: 50%;
}
